.classtable {
    margin-top: 10rpx;
    font-family: "Microsoft Yahei"
}
.syllabuscontainer {
    display:flex;
    flex-direction: row;
    width: 100%;
}
.syllabusitem {
  width: 20%;
  background: #fefefe;
  border: 2rpx solid #fcfcfc;
  margin: 5rpx 2rpx 2rpx 2prx;

  padding: 1rpx;
  padding-bottom: 5rpx;
  transition: opacity .4s ease-in-out;
  display: inline-block;
}
