<view class="error" hidden="{{errorHidden}}">
    {{error}}
</view>
<view class="container">
    <loading hidden="{{loadingHidden}}">
        加载中...
    </loading>
    <view wx:for="{{requestData.data.article_detail}}" wx:for-item="content" class="content-row">
        <text>{{content}}</text>
    </view>
</view>